* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgb(247, 245, 245);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  color: rgb(12, 12, 12);
}

.joke-container {
  width: 100%;
  max-width: 700px;
  padding: 25px 30px;
  border-radius: 16px;
  background: rgb(186, 186, 186);
}

#joke-text {
  font-size: 2rem;
}

.button-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#next-joke {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 16px;
  background: rgb(78, 77, 77);
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
}

button:hover {
  filter: brightness(150%);
}
